*{
    margin: 0px;
    padding: 0px;
}
.calc-btn {
  all: unset; 
  padding: 0.5rem 0.8rem;
  border: 0.1rem solid #007bff;
  background-color: white;
  color: #007bff;
  font-weight: bold;
  border-radius: 0.6rem;
   cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-left: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  margin-right: 1.9rem;
}
.aa:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.1);
}
.bb:hover {
  background-color: #228B22;
  color: white;
  transform: scale(1.1);
}
.cc:hover {
  background-color: #D5B60A;
  color: white;
  transform: scale(1.1);
}
.rr:hover {
  background-color: #900603;
  color: white;
  transform: scale(1.1);
}

.custom-navbar {
  background-color: black !important;
  border-bottom: 0.1rem solid #28a745;
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-item {
  color: white !important;
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #28a745 !important;
}
label {
      margin-left: 2rem;
}
input{
    margin-left: 1rem;
}
.output{
  margin-left: 10rem;
}
.lb1{
  margin-right: 1.3rem;
}
#Second{
  margin-right: 30rem;
}
